
@font-face {
        font-family: "Montserrat";
        font-style:normal;
        font-weight:100;
        src: local("Montserrat-Thin"), url("../fonts/Montserrat-Thin.otf") format("truetype");
}
@font-face {
        font-family: "Montserrat";
        font-style:normal;
        font-weight:200;
        src: local("Montserrat-Light"), url("../fonts/Montserrat-Light.otf") format("truetype");
}
@font-face {
        font-family: "Montserrat";
        font-style:normal;
        font-weight:300;
        src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.otf") format("truetype");
}

@font-face {
        font-family: "Montserrat";
        font-style:normal;
        font-weight:400;
        src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.otf") format("truetype");
}
@font-face {
        font-family: "Montserrat";
        font-style:normal;
        font-weight:500;
        src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.otf") format("truetype");
}

@font-face {
        font-family: "Montserrat";
        font-style:normal;
        font-weight:700;
        src: local("Montserrat-ExtraBold"), url("../fonts/Montserrat-ExtraBold.otf") format("truetype");
}
